@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300&display=swap');

:root {
    --bg-color: #FFF7EB;
    --primary-color: #E74610;
    --color-bar: #FFECD2;
    --btn-whatsapp: #56AB7A;
    --container-color: #fff;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
}
/* >>>>>>>>>> Cabecalho <<<<<<<<<< */

header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-color: var(--color-bar);
}
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1024px;
    height: auto;
    padding: 10px;
}
.search {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}
.fa-search {
    background:transparent;
    border:none;
    cursor: pointer;
}
input{
    border: 0;
    border-bottom: 1px solid var(--primary-color);
    width: 50%;
    height: 30px;
    background-color: var(--color-bar);
}
input:focus {
    outline: 0;
}
::placeholder {
    text-align: center;
}
.logo-header {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fa-bag-shopping {
    color: var(--primary-color);
}
.icon-bag{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}
.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 98.9%;
    background-color: var(--bg-color);
}
nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    list-style: none;
}
li a{
    text-decoration: none;
    color: var(--primary-color);
    padding: 20px;
    font-family: 'Raleway', sans-serif;
    transition: all 0.5s ease;
}
li a:hover {
    border-bottom: 1px solid var(--primary-color);
    transition-duration: 0.3s;
}

/* >>>>>>>>> Carrossel <<<<<<<<< */

.row-slide {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
.slide-show {
    display: flex;
    justify-content: center;
    align-content: center;
}
.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 5px;
}
.ball {
    cursor: pointer;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: var(--primary-color);
    margin: 5px
}
/* >>>>>>>>>>> Destques <<<<<<<<<< */

.row-destaques {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: auto;
    margin-top: 10px;
}
.row-conteiner {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    max-width: 1400px;
    background-color: var(--container-color);
}
.row-title {
    display: flex;
    justify-content: center;
    align-items: center;
}
.line {
    width: 150px;
    height: 1.5px;
    background-color: var(--primary-color);
}
.row-title h1 {
    margin: 30px 30px;
    font-family: 'Raleway', sans-serif;
    color: var(--primary-color);
    font-weight: 400;
}

/* >>>>>>>>> Produtos <<<<<<<<< */

.conteiner-products {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
}
.box-products {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    width: 300px;
    height: auto;
    padding: 10px;
    margin: 10px 10px;
    border: solid 1px tomato;

}
.box-products h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--primary-color);
}
.box-products span {
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
}
.btn {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    padding: 10px;
    margin-top: 10px;
    width: 90%;
}
.btn button {
    height: 30px;
    width: 100px;
    cursor: pointer;
    border: 0;
    border-radius: 20px;
    background-color: var(--color-bar);
}
.btn a {
    width: 100%;
    text-decoration: none;
    color: var(--primary-color);
    font-size: 0.9rem;
}
.fa-heart {
    cursor: pointer;
}

/* >>>>>>>>>>>>> Tipos de Produtos <<<<<<<<< */
.show-products {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: auto;
    margin-top: 10px;
}
.row-conteiner-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    max-width: 1400px;
}
.types-products {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 400px;
    height: 460px;
    padding: 23px;
    margin: 0 10px;
}
#box-products-1{
    background-image: url(/assets/image/item1.png);
    display: flex;
    justify-content:end;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    padding: 10px;
    margin: 0 10px;
}
#box-products-2{
    background-image: url(/assets/image/item2.png);
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    padding: 10px;
    margin: 0 10px;
}
#box-products-3{
    background-image: url(/assets/image/item3.png);
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    padding: 10px;
    margin: 0 10px;
}
#box-products-1 h2,
#box-products-2 h2,
#box-products-3 h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 1.7rem;
    color: #fff
}
.btn-seemore {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    gap: 10px;
    padding: 10px;
    margin-top: 10px;
   
}
.btn-seemore button {
    height: 40px;
    width: 150px;
    cursor: pointer;
    background-color: var(--color-bar);
    border: 0;
    border-radius: 20px;
    
}
.btn-seemore a {
    text-decoration: none;
    color: var(--primary-color);
    font-size: 1rem;
}

/* >>>>>>>>>>>>> Chekout <<<<<<<<<< */

.row-chekout {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: auto;
    /* border: 2px solid #E74610; */
}
.box-chekout {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    max-width: 1200px;
    padding: 10px;
    background-color: white

}
.leftside {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex: 1;
}
.box-imgs img {
    cursor: pointer;
    padding: 10px 0;
}
#producs-2 {
    margin: 0 10px;
}
.info-products span {
    font-family: 'Raleway', sans-serif;
}
.info-products ul {
    list-style:circle;
    font-family: 'Raleway', sans-serif;
}
.rightside {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-self: flex-start;
    align-items: center;
    flex: 1;
}
.rightside h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 1.7rem;
    text-align: center;
}
.info-price {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    width: 90%;
}
.info-price h2 {
    font-size: 1.5rem;
    align-self: baseline;
    font-family: 'Raleway', sans-serif;
    color: var(--primary-color);
    margin: 5px 0;

}
.info-price span {
    align-self: baseline;
    font-family: 'Raleway', sans-serif;
    font-size: 0.9rem;
    font-weight: 300;
}
.info-price p {
    align-self: baseline;
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    margin: 50px 0;
    font-weight: 300;
}
.rightside button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 70px;
    padding: 5px;
    background-color: transparent;
    border: none;
}
.rightside a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    color: var(--container-color);
    font-size: 1rem;
    width: 100%;
    height: 100%;
    gap: 10px;
    padding: 3px;
    border-radius: 30px;
    background-color: var(--btn-whatsapp);
}
.rightside a .fa-whatsapp {
    color: #fff;
}
/* >>>>>>>>>>> Rodape <<<<<<<< */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 210px;
    background-color: var(--color-bar);
    margin-top: 40px;
}
.row-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1024px;
}
.payment,
.social-midia {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.payment span,
.social-midia span {
    font-family: 'Raleway', sans-serif;
    color: var(--primary-color);
    font-weight: 500;
}
.payment-icon,
.midia-icon {
    padding: 10px;
}
.fa-brands  {
    color: #F8972F;
}
.footer-infor {
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-infor span {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    color: var(--primary-color);
    font-size: 0.9rem;
}